/************************
BOOTSTRAP CUSTOM OVERIDES
************************/
.navbar-default{
  background-color:#fff;
  border-color:#fff;
}

.nav{
  display:block !important;
}
.navbar-nav{
  display:block !important;
}
.navbar-right{
  display:block !important;
}
.dropdown-menu{
  display:block !important;
}

#navInsta{
  float:right;
}
.insta{
  display:inline-block !important;
  list-style: none;
}

.insta img{
  margin-bottom:10px;
}

.navbar-toggle{
  float:none;
}

#footer-social{
  padding-bottom: 8px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
  color:rgb(42,42,42);
}


a:hover{
  color:(0,0,51);
}
