@media screen and (min-width: 320px){
  /************************
  TWO COLUMN LAYOUT
  ************************/
	#mobHome{
		font-size: 1.15em;
		position: relative;
		top:12px;
		margin-left:5px;
		text-decoration: none;
	}

}

@media screen and (min-width: 375px){
  /************************
  TWO COLUMN LAYOUT
  ************************/
	#mobHome{
		font-size: 18px;
	}

	.contact-info li.phone a {
		font-size:1.5em;
	}

	.contact-info li.email a {
		font-size:1.5em;
	}

}


@media screen and (min-width: 480px){
  /************************
  TWO COLUMN LAYOUT
  ************************/


	/* signin admin form */
	.row{
		width:70%;
	}

	/*admin-info page*/
	#admin-info{
		width:60%;
	}

}

@media screen and (min-width:568px){
    .cycle-slideshow{
        margin-top:0;
    }

		#overlay{
			position:fixed;
		}
		#overlay img{
			margin-top:20px;
			width:70%;

		}
}



@media screen and (min-width:768px){



	.cycle-slideshow{
		display: none;
	}

	.pcGoBack{
		display:block;
	}
	.mobGoBack{
		display:none;
	}
	#mobHome{
		display:none;
	}

	#tabPcHome{
		display:block;
		width:100%;
		font-size: 40px;
		text-align: center;
		text-decoration: none;

	}


	.home-ul{

		display:block;
		z-index: 5;
	}

	.landscape {
		width:100%;
		height:150px;
		object-fit: cover;
	}

	.landscape:hover{
		background:black;
		opacity: 0.5;
		z-index:10;
	}


	.portrait{
		width:100%;
		height:371px;
		object-fit: cover;
	}

/*	.home-ul:hover img{
		opacity:0.8;
	}
	.home-ul img{
		transition: all 0.15 ease-in;
	}*/

	.homeUl{
		display:inline;

	}


	.homeUl li{
		position:relative;
	}

	/*.textHover{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		width:100%;
		height:calc(100% - 117.34px);
		opacity: 0;
		visibility: hidden;
		background: rgba(0,0,0,0.5);
		color:#fff;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms;

	}



	.textHover p{
		text-align: center;
		vertical-align: middle;
		margin-top: 30%;
		font-size: 20px;

	}

	.homeUl li:hover .textHover{
		visibility: visible;
		opacity: 0.8;
	}*/

	.landing-page{
		display:block;
		max-width: 1920px;
		width:100%;
		height:100%;
		position:absolute;

	}


	.navbar-header{
		float:none;
		width:100%;
		margin-top:20px;

	}

	.navbar .navbar-nav {
			display: inline-block !important;
			float: none;
			border-top: 1px solid black;
			color: rgb(42,42,42);
			margin-top:20px;
			font-size: 25px;
			padding-top:8px;

	}

	.navbar .navbar-collapse {
			text-align: center;
	}

	.navbar-custom{
		color:rgb(42,42,42);
	}

	#wrap{
		display:none;

	}

	#home-slide{
		display:none;
	}


	.hideNavItems{
		display:none !important;
	}

	#nameHeader{

		float:right;
		opacity: 0;
		margin-right:5%;
		text-decoration: none;
	}


	#nameHeader > h1:hover{
		color:rgb(7,50,150);
	}



	#navInsta{
		display:none;
	}

	.wrapper{
		width:80%;
	}


	#misc-ul{
		margin-top:30%;
	}

	.ul-list li{
		margin:0.5%;
	  width:31.7%;
	}

	.container{
		margin-left:5px;
		width:auto;

    }

	.row{
		width:50%;
	}

	.homeUl a{
		text-decoration: none;
	}

	.itemsText{
		display:inline-block;
		vertical-align: middle;
		/*height:70px;*/
		width:100%;

	}

	.itemsText p{
		text-align: center;
	}





}

@media screen and (min-width: 940px){

	#overlay img{
		margin-top:2.5%;
		width:60%;

	}

	.container{
		width:auto;
	}


	.contact{
		width:80%;
		margin:0 auto;
	}

	#admin-info{
		width:50%;
	}


	#misc-ul{
		margin-top:2.5%;
	}

	.landscape{
		height:200px;
	}
}



@media screen and (min-width:1200px){

	.container{
		width:auto;
	}

	.contact{
		width:50%;
		margin:0 auto;
	}




}

@media screen and (min-width:1350px){
	.landscape{
		height:250px;
	}
}


@media screen and (min-width:1440px){
	#admin-info{
		width:45%;
	}
}

@media screen and (min-width:1660px){
	#admin-info{
		width:40%;
	}
	.landscape{
		height:275px;
	}
}

@media screen and (min-width:1660px){
	.textHover{
		width:99%;
	}
}

@media screen and (min-width:1760px){
	.landscape{
		height:350px;
	}
}
