@media screen and (min-width: 480px){
  /************************
  TWO COLUMN LAYOUT
  ************************/
	

	/* signin admin form */
	.row{
		width:70%;
	}

	/*admin-info page*/
	#admin-info{
		width:60%;
	}

}

@media screen and (min-width:525px){

}

@media screen and (min-width: 768px){

	.cycle-slideshow{
		display:none;	
	}

	.container{
		margin-left:5px;
		width:auto;
	
	}



	.row{
		width:50%;
	}
	
}

@media screen and (min-width: 992px){
	
	.container{
		width:auto;
	}



	#admin-info{
		width:50%;
	}
}

@media screen and (min-width:1200px){
	
	.container{
		width:auto;
	}



}

@media screen and (min-width:1440px){
	

	#admin-info{
		width:45%;
	}
}

@media screen and (min-width:1660px){



	#admin-info{
		width:40%;
	}
}



