@media screen and (min-width: 480px){
  /************************
  TWO COLUMN LAYOUT
  ************************/


	/* signin admin form */
	.row{
		width:70%;
	}

	/*admin-info page*/
	#admin-info{
		width:60%;
	}

}

@media screen and (min-width:568px){
    .cycle-slideshow{
        margin-top:0;
    }

    .footer{
			bottom: -50px;
		}

		#overlay{
			position:fixed;
		}
		#overlay img{
			margin-top:20px;
			width:70%;

		}
}



@media screen and (min-width:768px){

	#mobHome{
		display:none;
	}

	#tabPcHome{
		display:block;
		width:100%;
		font-size: 40px;
		text-align: center;

	}

   .textHover{
		 position: absolute;
	   top: 0;
	   bottom: 0;
	   left: 0;
	   right: 0;
	   background: rgba(0,0,0,0.5);
	   color: #fff;
	   visibility: hidden;
		 height:100%;
		 width:100%;
	   opacity: 0;
		 -webkit-transition: opacity 500ms;
		 -moz-transition: opacity 500ms;
		 -o-transition: opacity 500ms;
		 transition: opacity 500ms;
	 }

	 .home-ul li{
		 position:relative;
	 }

	 .textHover p{
	   text-align: center;
	   vertical-align: middle;
		 margin-top:30%;
		 font-size:20px;
	 }


	 .home-ul li:hover .textHover{
		 visibility: visible;
		 opacity: 1;
	 }




	.landing-page{
		display:block;
		max-width: 1920px;
		width:80%;
		margin: 0 auto;
		margin-top:38%;
	}


	.navbar-header{
		float:none;
		width:100%;
		margin-top:20px;

	}

	.navbar .navbar-nav {
			display: inline-block !important;
			float: none;
			border-top: 1px solid black;
			color: rgb(42,42,42);
			margin-top:20px;
			font-size: 25px;
			padding-top:8px;

	}

	.navbar .navbar-collapse {
			text-align: center;
	}

	.navbar-custom{
		color:rgb(42,42,42);
	}



	#wrapper{
		display:none;
	}

	#home-slide{
		display:none;
	}

	.home-ul{
		display:block;
	}


	.hideNavItems{
		display:none !important;
	}

	#nameHeader{

		text-align: center;
		opacity: 0;
	}

	#nameHeader > h1{
		font-size:50px;
	}

	#nameHeader > h1:hover{
		color:rgb(7,50,150);
	}

	#moving-line{
		width:0;
		margin:50px 0 50px 0;
 		height:2px;
 		background-color:#222;
	}
	#galleryNames{
		margin-top:50px;
		opacity: 0;
	}
	.galleryItems{
		display:inline-block;
		margin-right:100px;
		font-size:20px;
		padding-left:15px;
	}

	.galleryItems:hover{
		color:rgb(7,50,150);
	}

	.back-mobile{
		display:none;
	}

	.back-tablet-pc{
		display:block;
	}

	.footer{
		display:none;
	}

	#navInsta{
		display:none;
	}

	#wrapper{
		width:80%;
	}

	#overlay{
		position:absolute;
	}
	#overlay img{
		margin-top:30%;
		width:100%;

	}

	#misc-ul{
		margin-top:30%;
	}

	.ul-list li{
		margin:0.5% 0.5% 1% 0.5%;
	  width:32%;
	}

	.ul-list li:nth-child(4n){
	    clear:left;
	}
	.container{
		margin-left:5px;
		width:auto;

    }

	.row{
		width:50%;
	}

}

@media screen and (min-width: 940px){

	#overlay img{
		margin-top:2.5%;
		width:60%;

	}

	.container{
		width:auto;
	}

	.landing-page{
		margin-top: 30%;
	}



	#admin-info{
		width:50%;
	}

	.footer{
		display:none;
	}

	#misc-ul{
		margin-top:2.5%;
	}
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

		.landing-page{
			margin-top:48%;
		}

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

		.landing-page{
			margin-top:48%;
		}

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

		.landing-page{
			margin-top:45%;
		}

}

@media screen and (min-width:1024px){
	.landing-page{
		margin-top:28%;
	}

}



@media screen and (min-width:1200px){

	.landing-page{
		margin-top:23%;
	}

	#nameHeader > h1{
		font-size: 75px;
	}

	.container{
		width:auto;
	}



}

@media screen and (min-width:1280px){
	.landing-page{
		margin-top:20%;
	}

}

@media screen and (min-width:1440px){

	.landing-page{
		margin-top:20%;
	}

	#nameHeader > h1{
		font-size: 75px;
	}


	#admin-info{
		width:45%;
	}
}

@media screen and (min-width:1660px){

  .landing-page{
		margin-top:15%;
	}

	#admin-info{
		width:40%;
	}
}

@media screen and (min-width:1880px){

  .textHover{
		width:98%;
	}
}

@media screen and (min-width:1900px){

  .textHover{
		width:97%;
	}
}
