@media screen and (min-width: 480px){
  /************************
  TWO COLUMN LAYOUT
  ************************/


	/* signin admin form */
	.row{
		width:70%;
	}

	/*admin-info page*/
	#admin-info{
		width:60%;
	}

}

@media screen and (min-width:568px){
    .cycle-slideshow{
        margin-top:0;
    }

    .footer{
			bottom: -50px;
		}

		#overlay{
			position:fixed;
		}
		#overlay img{
			margin-top:20px;
			width:70%;

		}
}




@media screen and (min-width:768px){

	#home-slide{
		display:none;
	}

	.home-ul{
		display:block;
	}

	.back-mobile{
		display:none;
	}

	.back-tablet-pc{
		display:block;
	}

	.footer{
		display:none;
	}

	#wrapper{
		width:80%;
	}

	#overlay{
		position:absolute;
	}
	#overlay img{
		margin-top:30%;
		width:100%;

	}

	#misc-ul{
		margin-top:30%;
	}

	.ul-list li{
		margin-right:2%;
	  width:28.3333%;
	}

	.ul-list li:nth-child(4n){
	    clear:left;
	}
	.container{
		margin-left:5px;
		width:auto;

    }

	.row{
		width:50%;
	}

}

@media screen and (min-width: 940px){

	#overlay img{
		margin-top:2.5%;
		width:60%;

	}

	.container{
		width:auto;
	}



	#admin-info{
		width:50%;
	}

	.footer{
		display:none;
	}

	#misc-ul{
		margin-top:2.5%;
	}
}

@media screen and (min-width:1200px){

	.container{
		width:auto;
	}



}

@media screen and (min-width:1440px){


	#admin-info{
		width:45%;
	}
}

@media screen and (min-width:1660px){



	#admin-info{
		width:40%;
	}
}
