/************************
GENERAL
************************/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}
body{
	font-family: cambria,georgia, serif;
	margin-bottom:60px;

}
#wrapper{
	max-width: 940px;
	min-width: 280px;
	margin: 0 auto;
}
p{
	font-size:1em;
}
a {
   text-decoration:none;
}

img{
  max-width: 100%;
}

/*************************
FOOTER
*************************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}

#footer-link{
	margin-right: 20px;
}

.footer-contact{
    margin-bottom: 3px;
}


/***************************
* HOMEPAGE (PORTFOLIO)
***************************/

.cycle-slideshow{
	margin-top:110px;
}


.ul-list{
  margin: 0;
  padding: 0;
  list-style:none;
}

.ul-list li{
  float:left;
  width:45%;
  margin: 2.5%;

}

/*.ul-list li:nth-child(3){
    clear:left;
}*/

#home-ul,#port-ul,#land-ul,#misc-ul{
    display:none;
}

.back-tablet-pc{
  display:none;
}
.back-button{
    margin-left:2.5%;
}

.lightBoxText{
    display:none;
}
/******************************
HOMEPAGE (PORTFOLIO - LIGHTBOX)
*******************************/

#overlay {
  background-color:#fff;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align: center;
}

#overlay img {
    margin-top: 50%;
}

#overlay p {
    color: #777;
}

/****************************
 * ADMIN PAGE (INNERBOX)
 * ************************/


.row{
	margin:0 auto;
	width:80%;
}


#admin-info{
	margin:0 auto;
	padding:0 10px;
}


/*************************
 * CONTACT PAGE
 * *********************/
 .contact{
 	padding:20px;
 }

 .contact h2{
 	margin-bottom: 0.83em;
 	padding:0;
 }
 .contact-info{
 	list-style: none;
 	padding:0;
 	margin:0;
 	font-size: 0.9em;
 }

 .contact-info a{
 	display:block;
 	min-height: 20px;
 	background-repeat: no-repeat;
 	background-size: 23px 23px;
 	padding: 0 0 0 40px;
 	margin: 0 0 10px;
 }


.contact-info li.phone a {
	background-image: url('../img/phone-46-16.png');
	font-size:1.5em;
}

.contact-info li.email a {
	background-image: url('../img/email-16.png');
	font-size:1.5em;
}



/********************************
 * COLOURS
 * *****************************/
body{
	background-color: #fff;
	color: #777;
}
