/************************
GENERAL
************************/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}
body{
	font-family: 'Julius Sans One', sans-serif;
	margin-bottom:60px;

}
.wrapper{
	max-width: 1920px;
	min-width: 280px;
	margin: 0 auto;
}
p{
	font-size:1em;
}
a {
   text-decoration:none;
}

img{
  max-width: 100%;
}

.landing-page{
  display:none;
}

/*************************
FOOTER
*************************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  text-align: center;
}

#footer-link{
	margin-right: 20px;
}

/**************************
HEADER
***************************/

#tabPcHome{
  display:none;
}

/***************************
* HOMEPAGE (PORTFOLIO)
***************************/

.cycle-slideshow{
	margin-top:110px;
  width:100%;
}

.cycle-slideshow img {
  width:100%;
  height:auto;
}

.ul-list{

  margin: 0;
  padding: 0;
  list-style:none;
}

.ul-list li{
  /*float:left;*/
  display: inline-block;
  width:45%;
  margin: 2%;

}

.homeUl{
    display:none;
}

.home-ul{ /*,#port-ul,#land-ul,#misc-ul*/
    display:none;
}

.back-tablet-pc{
  display:none;
}
.back-button{
    margin-left:2.5%;
}

.lightBoxText{
    display:none;
}

.itemsText{
  text-align: center;
  margin-top:10px;
  font-size: 20px;
}

.itemsText:hover{
  color:rgb(7,50,150);

}


.cycle-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    font-size: 1.6em;

}


#projectDetails{
  display:none;
  margin-left: 8px;
}

.test{
  display:none;
}

/****************************
 * ADMIN PAGE (INNERBOX)
 * ************************/


.row{
	margin:0 auto;
	width:80%;
}


#admin-info{
	margin:0 auto;
	padding:0 10px;
}


/*************************
 * CONTACT PAGE
 * *********************/
 .contact{
 	padding:20px;
 }

 .contact h2{
 	margin-bottom: 0.83em;
 	padding:0;
 }
 .contact-info{
 	list-style: none;
 	padding:0;
 	margin:0;
 	font-size: 0.9em;
 }

 .contact-info a{
 	display:block;
 	min-height: 20px;
 	background-repeat: no-repeat;
 	background-size: 23px 23px;
 	padding: 0 0 0 40px;
 	margin: 0 0 10px;
 }


.contact-info li.phone a {
	background-image: url('../img/phone-46-16.png');
	font-size:1.5em;
}

.contact-info li.email a {
	background-image: url('../img/email-16.png');
	font-size:1.5em;
}



/********************************
 * COLOURS
 * *****************************/
body{
	background-color: #fff;
	color: rgb(42,42,42);
}
