/************************
GENERAL
************************/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}
body{
	font-family: cambria,georgia, serif;
	margin-bottom:60px;

}
#wrapper{
	max-width: 940px;
	min-width: 280px;
	margin: 0 auto;
}
p{
	font-size:1em;
}
a {
   text-decoration:none;
}

img{
  max-width: 100%;
}

/****************************
 * NAVBAR (HEADER)
 * **************************/



/*************************
FOOTER
*************************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}

#footer-link{
	margin-right: 20px;
}

.footer-contact{
    margin-bottom: 3px;
}


/***************************
* HOMEPAGE (PORTFOLIO)
***************************/

.cycle-slideshow{
	margin-top:120px;
}


.ul-list{
  margin: 0;
  padding: 0;
  list-style:none;
}

.ul-list li{
  float:left;
  width:45%;
  margin: 2.5%;
  
}

.ul-list li:nth-child(3){
    clear:left;
}




/****************************
 * ADMIN PAGE (INNERBOX)
 * ************************/


.row{
	margin:0 auto;
	width:80%;
}


#admin-info{
	margin:0 auto;
	padding:0 10px;
}


/*************************
 * CONTACT PAGE (INNERBOX)
 * *********************/


/********************************
 * COLOURS
 * *****************************/
body{
	background-color: #fff;
	color: #777;
}
