{% extends 'main.twig' %}
{% set active_page = 'admin' %}

{% block title %}Admin - Update Content{% endblock %}


{% block heading %}Create about us{% endblock %}

{% block admin %}

	<div class="row">

		<div class=".col-md-6 col-md-offset-3 for">

			<div class="panel panel-default">

				<div class="panel-heading">Update Existing Gallery</div>

				<div class="panel-body">

					<form action="{{ path_for('adminContact.create') }}" method="post" autcomplete="off">

						<div class="form-group{{ errors.email ? ' has-error' : '' }}">

							<label for="about_text">Create about us</label>

							<textarea name="about_text" id="about_text" class="text_area" rows="10" cols="80"></textarea>


						</div>


						<button type="submit" class="btn btn-default">Update Contact Us</button>

						{{ csrf.field | raw }}

					</form>

				</div>


        </div>

		</div>

	</div>


{% endblock %}
