{% extends 'main.twig' %}
{% set active_page = 'admin' %}

{% block title %}Admin - Update Content{% endblock %}


{% block heading %}Update home page{% endblock %}

{% block admin %}

	<div class="row">

		<div class=".col-md-6 col-md-offset-3 for">

			<div class="panel panel-default">

				<div class="panel-heading">Update Home Page</div>

				<div class="panel-body">

					<form action="{{ path_for('adminHome.update') }}" method="post" autcomplete="off">

						<div class="form-group{{ errors.email ? ' has-error' : '' }}">

							<label for="home_img">Update Home Page Img Url</label>

							<input type="text" name="home_img" id="home_img" class="form-control" >

                            <label for="port_id">Update ID no</label>

                            <input type="text" name="port_id" id="port_id" class="form-control" >

						</div>


						<button type="submit" class="btn btn-default">Update home page img url</button>

						{{ csrf.field | raw }}

					</form>

				</div>


            </div>

		</div>

	</div>


{% endblock %}
