{% extends 'main.twig' %}

{% block title %}Admin - Update Content{% endblock %}


{% block heading %}Update Landscape page{% endblock %}

{% block admin %}
	
	<div class="row">
		
		<div class=".col-md-6 col-md-offset-3 for">

			<div class="panel panel-default">
				
				<div class="panel-heading">Update landscape Page</div>

				<div class="panel-body">
					
					<form action="{{ path_for('adminLandscape.update') }}" method="post" autcomplete="off">
						
						<div class="form-group{{ errors.email ? ' has-error' : '' }}">
							
							<label for="land_img">Update Landscape Page Img Url</label>

							<input type="text" name="land_img" id="land_img" class="form-control" >
                            
                            <label for="land_light_text">Update Light box text</label>
                            
                            <input type="text" name="land_light_text" id="land_light_text" class="form-control" >
                            
                            <label for="land_id">Update ID no</label>
                            
                            <input type="text" name="land_id" id="land_id" class="form-control" >

						</div>
					

						<button type="submit" class="btn btn-default">Update landscape page img url</button>

						{{ csrf.field | raw }}
						
					</form>

				</div>
                
                
            </div>

		</div>

	</div>
	
	
{% endblock %}
