{% extends 'main.twig' %}

{% set active_page = 'contact' %}

{% block title %}Contact Us{% endblock %}


{% block contact %}

			<div class="contact">

				{% autoescape false %}
					{% for contactItem in contactPage %}
						{{ contactItem.about_text }}
					{% endfor %}
				{% endautoescape %}

				<h2>Contact</h2>
				<ul class="contact-info">
					<li class="phone"><a href="tel:07780830375">07780830375</a></li>
					<li class="email"><a href="mailto:ryan@ryanotoolecollett.com">ryan@ryanotoolecollett.com</a></li>


				</ul>
			</div>



{% endblock %}
