{% extends 'main.twig' %}

{% set active_page = 'contact' %}

{% block title %}Contact Us{% endblock %}


{% block contact %}

			<div class="contact">
				<h2>About</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed egestas augue. Aenean suscipit fermentum augue id feugiat. Maecenas laoreet nibh nec placerat cursus. In vulputate ut velit eu mattis. Integer neque ex, lacinia non mauris vitae, auctor pellentesque purus. Aenean ac mauris porttitor enim vestibulum mattis ut et est. Nam id ex ligula.

Ut dapibus diam vitae odio accumsan ornare. Fusce vitae sollicitudin velit, id elementum dui. Fusce auctor id nisi non maximus. Etiam mattis nisl eu magna blandit fermentum. Praesent non ante eu lacus ultricies gravida. Pellentesque lacus elit, pellentesque ac posuere ut, hendrerit vitae dui. Nunc scelerisque laoreet sem, id tincidunt arcu volutpat eu. Quisque non lectus in nisi cursus malesuada quis eget turpis. Duis efficitur sodales lectus ut euismod.

Nunc in sem eleifend, sodales felis eu, rhoncus ex. Duis a mattis arcu. Praesent vel nisl nisi. Curabitur pulvinar ipsum urna, et consectetur ante lacinia sed. Phasellus ac tortor aliquet, porta sapien ut, iaculis purus. Nulla tempor finibus purus nec tempus. Maecenas nec quam dignissim, consectetur ex vel, malesuada dolor. Cras placerat est eu augue fermentum aliquet. Quisque dui ex, blandit non gravida ac, volutpat ut lacus. Pellentesque posuere cursus tellus ut viverra. Vivamus lobortis blandit enim, scelerisque tempus odio vulputate a. Ut in nunc cursus, malesuada turpis eget, mollis orci. Pellentesque ut neque eget ex gravida porta quis quis augue. Sed ac hendrerit lacus. Fusce sed mi non est pretium porttitor. Maecenas auctor tortor leo, in fringilla neque tempus ac.

</p>
				<h2>Contact</h2>
				<ul class="contact-info">
					<li class="phone"><a href="tel:07780830375">07780830375</a></li>
					<li class="email"><a href="mailto:ryan@ryanotoolecollett.com">ryan@ryanotoolecollett.com</a></li>


				</ul>
			</div>



{% endblock %}
