{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Ryan Site - Tell me what to put here{% endblock %}



{% block content %}
		
<div class="cycle-slideshow" data-cycle-slides="a">
	{% for homeItem in homePage %}
		<a href='#'><img src="img/{{ homeItem.home_img }}" alt="{{ homeItem.home_img}}" /></a>
	{% endfor %}
</div>	
	
{% endblock %}

 
