
{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Ryan{% endblock %}

{% block landing %}

<div class="landing-page">
  <a href="javascript:showHomePage()" id="nameHeader" class="links">

    <h1>Ryan O'Toole Collett</h1>


  </a>
  <!--<button class="enterSite" onclick='showHomePage()'>Enter</button>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">


$(document).ready(function(){

  var timeout = null;
  $(document).mousemove(function(event){
      clearTimeout(timeout);
      $(".enterSite").fadeIn(700);
      timeout = setTimeout(function(){
        $(".enterSite").fadeOut(700);
      },5000);

  });

});
</script>-->
{% endblock %}
