
{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Ryan{% endblock %}

{% block landing %}

<div id="myCarousel" class="carousel container slide">
  <div class="carousel-inner">
    <div class="active item one"></div>
    <div class="item two"></div>
    <div class="item three"></div>
    <div class="item four"></div>
    <div class="item five"></div>
    <div class="item six"></div>
    <div class="item seven"></div>
  </div>
</div>
<div class="landing-page">
<div id="nameHeader"  onclick='showHomePage(".landing-page")'>
  <h1>Ryan O Toole Collett</h1>
</div>
<div id="moving-line"></div>
<div id="galleryNames">

  {% for homeItem in homePage %}
    {% if homeItem.ul_id == "home-ul" %}
      <div class="galleryItems" onclick='showGalleryItems(".landing-page", ".{{ homeItem.next_ul }}")'>
        {{ homeItem.next_ul }}
      </div>
    {% endif %}
  {% endfor %}
</div>

</div>

{% endblock %}
