<footer class="footer">
	<div class="footer-contact">
		<a id="footer-link" href="/contact">Contact</a>
		<span>&copy Ryan O Toole Collett <div id="date"></div></span>
	</div>
	<div id="footer-social">
        <a href="https://www.instagram.com/ryanotoolecollett/"><img src="img/Instagram.png" alt="Instagram Social" width="30px" height="30px"/></a>
	</div>
</footer>
