<footer class="footer">
	<div class="footer-contact">
		<a id="footer-link" href="/contact">Contact</a>
		<span>&copy Ryan O Toole Collett <div id="date"></div></span>
	</div>
	<div id="footer-social">
		<p>Instagram <span><img src="#" alt="Instagram Social" /></span>
	</div>
</footer>
